# Data Science Tools and Ecosystems

## In this notebook, data science tools and ecosystem are sumerized

## Objetives:
List popular languages that Data Scientists 
List Some of the commonly used libraries used by Data Scientists
List evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

In [ ]:
1 phyton 
2 r studio
3 java

### Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1 Tensor flow
2 Numpy
3 Panda

|Data Science Tools|
|VS Code|
|Github|
|Gitlab|

## Bellow are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a sample arithmetic expression to multiply then add integers

17

In [3]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Ana Bernardo